!!!5
html
  head
    title Gitray.com
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
  body
    header
      h1 Gitray.com
    .container
      .main-content
        block content