!!!5
html
  head
    title Gitray.com: Better navigation of Github projects
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
  body
    header
      h1 Gitray.com
    .container
      .main-content
        block content