/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Georgia';
  background-color: #faf9f0;
  color: #444;
}
header {
  font-family: 'Quicksand';
  padding: 10px 10px;
  color: #fff;
  font-size: 15px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #fa5b4d;
  border-bottom: 1px solid #df1806;
  text-shadow: 0px -1px 0px #df1806;
}
.gitray {
  margin-bottom: 0em;
}
.container {
  width: 500px;
  margin: 25px auto;
  overflow: hidden;
}
.main-content {
  float: left;
  width: 500px;
}
p {
  line-height: 1.8;
}
body {
  background-color: #39414a;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: smaller;
  background-image: url("nav_bg.png");
  background-repeat: repeat-x;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
div#tree {
  position: absolute;
  height: 95%;
  width: 20%;
  padding: 5px;
  margin-right: 16px;
}
ul.dynatree-container {
  height: 100%;
  width: 100%;
  background-color: transparent;
}
ul.dynatree-container a {
  color: #fff;
  border: 1px solid transparent;
  background-color: transparent;
}
ul.dynatree-container a:hover {
  background-color: transparent;
}
ul.dynatree-container a:focus,
span.dynatree-focused a:link {
  background-color: #808080;
}
